@charset "UTF-8";
/*css初始化*/
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}

/*去除input的框  ctrl + / */
fieldset, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none;
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体"; /*新宋体*/
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}

/*禁止缩放*/
textarea {
    resize: none;
}

/*让图片基线对齐*/
img {
    border: 0;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
}

body {
    font-family: "helvetica neue",arial,sans-serif;
    font-size: 14px;
    color: #444;
}

/*清除浮动*/
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* css骇客 */
.clearfix {
    *zoom: 1; /*IE/7/6*/
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

/*废物利用*/
s, i, em {
    font-style: normal;
    text-decoration: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.al {
    text-align: left;
}

.ac {
    text-align: center;
}

.ar {
    text-align: right;
}

.hide {
    display: none;
}

.w_app {
    width: 992px;
    margin: 0 auto;
}

/*花瓣 移动应用 heade部分 start*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99997;
    background: #fff;
}
.header .w_app a {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 8px;
    float: left;
}

/*花瓣 移动应用 heade部分 end*/

/*花瓣 移动应用 container部分 star*/
#container {
    padding-top: 60px;
}

#container .w_app {
    overflow: hidden;
}

#container .play {
    height: 530px;
    background-color: yellow;
    background: url("../images/blur_bg.jpg") no-repeat center center;
    overflow: hidden;
}
 #slider {
    position: relative;
    height: 530px;
    width: 2976px;
}
#slider li {
    width: 992px;
    height: 100%;
    position: relative;
    float: left;
}
#slider .iphone_pic {
    width: 300px;
    height: 490px;
    position: absolute;
    bottom: 0;
    left: 60px;
}
#slider .iphone_title {
    width: 512px;
    height: 120px;
    position: absolute;
    left: 410px;
    top: 80px;
}
#slider .iphone .describe {
    width: 395px;
    font-size: 14px;
    color: #fff;
    border-top: 1px solid #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .35);
    padding: 20px 100px 30px 0px;
    position: absolute;
    display: block;
    left: 430px;
    top: 210px;
}
#slider .iphone .download {
    width: 498px;
    height: 153px;
    background: url("../images/iphone_info_bg.png") repeat 0 0;
    position: relative;
    left: 430px;
    top: 285px;
}
#slider .iphone .download img {
    position: absolute;
    top: 19px;
    left: 19px;
}
#slider .iphone_dl {
    width: 240px;
    height: 60px;
    background: url("../images/btn_appstore.png") 0 0 no-repeat;
    display: block;
    position: absolute;
    top: 19px;
    left: 150px;
}
#slider .iphone_dl:hover {
    background-position: left -160px;
}

#slider .iphone .download span {
    color: #F5FFFF;
    position: absolute;
    top: 38px;
    left: 68px;
}

#slider .explain {
    color: #FFF;
    position: absolute;
    bottom: 14px;
    left: 150px;
    line-height: 30px;
}

#slider .android_pic {
    width: 300px;
    height: 490px;
    position: absolute;
    bottom: 0;
    left: 60px;
}

#slider .android_title {
    width: 512px;
    height: 120px;
    position: absolute;
    left: 410px;
    top: 80px;
}

#slider .android .describe {
    width: 395px;
    font-size: 14px;
    color: #fff;
    border-top: 1px solid #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .35);
    padding: 20px 100px 30px 0px;
    position: absolute;
    display: block;
    left: 430px;
    top: 210px;
}

#slider .android .download_btn {
    width: 189px;
    height: 60px;
    background: url("../images/btn_appstore.png") no-repeat -260px -80px;
    float: left;
    position: absolute;
    left: 430px;
    top: 313px;
}

#slider .android .download_btn:hover {
    background-position: -260px -160px;
}

#slider .android .drop_down {
    width: 51px;
    height: 60px;
    background: url("../images/btn_appstore.png") no-repeat -850px -80px;
    float: left;
    position: absolute;
    left: 618px;
    top: 313px;
}

#slider .android .drop_down:hover {
    background-position: -850px -160px;
}

#slider .android .code-from {
    width: 330px;
    height: 120px;
    bottom: 15px;
    left: 430px;
    padding: 5px;
}
.code-from {
    background-color: #fff;
    z-index: 99;
    position: absolute;
    box-sizing: border-box;
    display: none;
}
#slider .android .arrow_top {
    top: -25px;
    right: 112px;
}
.arrow_top {
    border-top: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 13px solid #F9F9F9;
    border-left: 13px solid transparent;
    position: absolute;
}
#slider .android .code-from p {
    width: 150px;
    height: 58px;
    position: absolute;
    top: 14px;
    right: 55px;
    font-size: 14px;
    line-height: 1.35em;
    color: #999;
}

#slider .android .googeplay {
    width: 153px;
    height: 43px;
    background: url("../images/googeplay_btn.png");
    position: absolute;
    bottom: 20px;
    right: 55px;
}

#slider .ipad .ipad_title {
    margin: 20px auto 0px auto;
    display: block;
}

#slider .ipad .ipad_download {
    width: 220px;
    height: 60px;
    position: absolute;
    background: url("../images/btn_appstore.png") -510px -80px no-repeat;
    left: 360px;
}

#slider .ipad .ipad_download:hover {
    background-position: -510px -160px;
}

#slider .ipad .ipad_download_btn {
    width: 51px;
    height: 60px;
    position: absolute;
    background: url("../images/btn_appstore.png") -770px -80px no-repeat;
    left: 580px;
    display: block;
}

#slider .ipad .ipad_download_btn:hover {
    background-position: -770px -160px;
}

#slider .ipad .ipad_pic {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -395px;
}
#slider .ipad .download {
    position: relative;
}
#slider .ipad .code-from {
    width: 111px;
    height: 129px;
    top: 73px;
    right: 330px;
    padding-top:1px;
    padding-left:1px;
}
#slider .ipad .code-from .arrow_top {
    top: -25px;
    left: 43px;
}
#slider .ipad .code-from p {
    position: absolute;
    bottom: 4px;
    left: 6px;
}






#choice {
    height: 214px;
    padding-left: 137px;
}

#choice li {
    width: 328px;
    height: 40px;
    background-color: red;
    float: left;
    color: #444444;
    font-size: 18px;
    text-align: center;
    padding-top: 170px;
    background: url("../images/icon_bt_tabs.png") 105px 35px no-repeat;
}

#choice .iphone.current{
    background-position: 105px -175px;
}

#choice .android {
    background-position: -125px 35px;
}

#choice .android.current {
    background-position: -125px -175px;
}

#choice .apad {
    background-position: -355px 35px;
}

#choice .apad.current {
    background-position: -355px -175px;
}

#choice li:hover {
    background-color: #FAFAFA;
}

/*花瓣 移动应用 container部分 end*/

/*花瓣 移动应用 footer部分 star*/
.footer .links {
    height: 165px;
    padding-top: 25px;
    padding-bottom: 6px;
    background-color: #333333;
}

.footer .wrapper_996 {
    width: 996px;
    margin: 0 auto;
    height: 165px;
    position: relative;
}

.footer .column {
    width: 200px;
    vertical-align: top;
    display: inline-block;
}

.footer .column > a {
    display: block;
    padding-bottom: 18px;
    color: #BBBBBB;
    font-size: 14px;
    text-decoration: none;
}

.footer .column > a.title {
    font-size: 16px;
    color: #ddd;
    padding-bottom: 26px;
}

.footer .column .selected {
    display: none;
}

.footer .follow_us {
    position: absolute;
    top: 0;
    right: 0;
    width: 256px;
    border-right: 1px solid #555555;
    border-left: 1px solid #555555;
    padding-left: 30px;
}

.footer .copyright {
    text-align: center;
    height: 60px;
    background-color: #000000;
    line-height: 60px;
    color: #999;
}

.footer .copyright span {
    margin: 0 12px;
    color: #666;
}

.footer .copyright a {
    color: #999;
}

.footer .weixin {
    position: relative;
}

.footer .weixin .code {
    position: absolute;
    right: 18px;
    bottom: 18px;
}
.footer .elevator {
    width: 40px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.elevator .goTo,
.elevator .add {
    display: block;
    width: 40px;
    height: 36px;
    margin-bottom: 2px;
    background: #000 url(../images/iconsprite_btbar.png) no-repeat 8px 6px;
    border-radius: 4px;
    opacity: .7;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    cursor: pointer;
}
.elevator .goTo{
    /*display: none;*/
}
.elevator .goTo:hover,
.elevator .add:hover{
    opacity: .9;
}

.elevator .add {
    background-position: 8px -34px;
}

.elevator .panel{
    padding-top: 10px;
    width: 143px;
    height: 124px;
    background-color: #fff;
    border-radius: 2px;
    position: absolute;
    right: 50px;
    bottom: 0;
    display: none;
}

.elevator .panel .arr-r{
    position: absolute;
    right: -6px;
    bottom: 14px;
    width: 6px;
    height: 11px;
    background: url(../images/code_arrow.png) 0 0 no-repeat;
}
.elevator .panel a{
    display: block;
    font-size: 14px;
    height: 38px;
    line-height:38px;
    padding-left: 25px;
    background: url(../images/icon_user_menu.svg) no-repeat;

}
.elevator .panel a:hover{
    background-color: #f2f2f2;
    color: red;
}
.elevator .panel .cj{
    background-position: 18px -467px;
}

.elevator .panel .hb{
    background-position: 18px -507px;
}
.elevator .panel .tool{
    background-position: 18px -67px;
}

/*花瓣 移动应用 footer部分 end*/
