/*开始头部*/
body {
    font: 16px/150% Arial, Verdana, "\5b8b\4f53"; /*宋体 unicode*/
    color: #666;
    background: #fff; /*白色*/
    opacity: 0;
}
.top{
    background-color: #FFFFFF;
    height: 146px;
}
.top .header .hleft{
    float: left;
}
.top .header .hleft .title{
    margin-top: 50px;
    float: left;
}
.top .header .hleft .title a{
    display: block;
    width: 209px;
    height: 53px;
    background: url("../images/logo.png");
    text-indent: -2000px;
    float: left;
}
.top .header .hleft .ce{
    float: left;
    height: 96px;
    padding-top: 50px;

    margin-left: 8px;
}
.top .header .hleft ul{
    float: left;
    margin-top: 66px;
    margin-left: 48px;
}
.top .header .hleft ul li{
    float: left;
    padding-right: 45px;
}
.top .header .hleft ul li .item{
    color: #222222;
    font-weight: 500;
    font-family: Lato,Helvetica Neue,Arial,Helvetica,sans-serif;
}
.top .header .hright{
    float: right;
    margin-top: 60px;
    /*margin-left: px;*/
    margin-right: 20px;
}

.top .header .hright .inputs1{
    width: 263px;
    height: 40px;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    float: left;
    margin-right: 20px;
    padding-left: 17px;
   position: relative;
}
.top .header .hright .inputs1 i{
    display: block;
    width: 16px;
    height: 17px;
    background: url("../images/header_sprite_ie6.png") no-repeat 0 -61px;
    position: absolute;
    right: 8px;
    top: 12px;
}
.top .header .hright #inputs1{
    /*color: #C8C8C8;*/
    color: #bbb;
    font-size: 14px;
    padding-top: 10px;
    float: left;
}
.top .header .hright .inputs2{
    float: left;
}
.top .header .hright .inputs2 .a1{
    width: 80px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    background-color:#c0a75e;
    float: left;
    margin-right: 20px;
    border-radius: 2px;
    text-align: center;
}
.top .header .hright .inputs2 .a1 span{
    font-size: 15px;
    font-weight: 700;
    color: white;
    font-family: Lato,Helvetica Neue,Arial,Helvetica,sans-serif;
}
.top .header .hright .inputs2 .a2{
    width: 80px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    background-color:#c0a75e;
    float: left;
    border-radius: 2px;
    text-align: center;
}
.top .header .hright .inputs2 .a2 span{
    font-size: 15px;
    font-weight: 700;
    color: white;
    font-family: Lato,Helvetica Neue,Arial,Helvetica,sans-serif;
}
/*导航结束*/
/*开始banner*/
.banner{
    position: relative;
    background-color: #fff;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    height: 460px;
    min-height: 460px;
    max-height: 460px;
    overflow: hidden;
}
.banner ul{
    width: 100%;
    height: 100%;
    position: absolute;
}
.banner ul li{
    width: 100%;
    height: 100%;
    /*float: left;*/
}
.banner ul .one a{
    display: block;
    width: 100%;
    height: 100%;
    background: url("../images/471.jpg") no-repeat center center;
}
.banner ul .two a{
    display: block;
    width: 100%;
    height: 100%;
    background: url("../images/470.png") no-repeat center center;
}
.banner ul .three a{
    display: block;
    width: 100%;
    height: 100%;
    background: url("../images/470.jpg") no-repeat center center;
}
.banner ul .four a{
    display: block;
    width: 100%;
    height: 100%;
    background: url("../images/472.png") no-repeat center center;
}
.banner ol{
    width: 89px;
    height: 12px;
    /*background-color: pink;*/
    position: absolute;
    left: 50%;
    margin-left: -45px;
    bottom: 0;
}
.banner ol li{
    width: 12px;
    height: 12px;
    background-color: #B6B7B3;
    margin-right: 5px;
    float: left;
    cursor:pointer;
}
.banner ol .kreen{
    width: 12px;
    height: 12px;
    background-color: white;
    margin-right: 5px;
    float: left;
}
.banner ol .black{
    background-color: #646464;
}
.banner ol .gray{
    background-color: #B6B7B3;
}
/*开始左右按钮*/
.banner #arrleft{
    width: 100px;
    height: 100px;
    background-color: pink;
    position: absolute;
    left:0;
    top:0;
    z-index: 10;
    display: none;
}
.banner #arrright{
    width: 100px;
    height: 100px;
    background-color: pink;
    position: absolute;
    right:0;
    top:0;
    z-index: 10;
    display: none;
}
/*轮播图结束*/
/*结束banner*/
/*开始大box*/
/*开始介绍introduce*/
.introduce{
    margin-top: 39px;
    opacity: 0;
}
.introduce .indone{
    width: 300px;
    height: 283px;
    /*background-color: pink;*/
    float: left;
}
.introduce .indone .int{
    width: 150px;
    height: 150px;
    margin:0 auto;
}
.introduce .indone .inm{
    width: 280px;
    height: 26px;
    margin: 0 auto;
    margin-top:18px;
    background: url("../images/size1.svg") no-repeat center center;
}

.introduce .indone p{
    text-align: center;
    margin-top: 20px;
    line-height: 1.7;
    font-size: 14px;
    color: #999;
    margin-right: 20px;
}
.introduce .indtwo{
    width: 300px;
    height: 283px;
    /*background-color: orange;*/
    float: left;
}
/**/
.introduce .indtwo .int{
    width: 150px;
    height: 150px;
    margin:0 auto;
}
.introduce .indtwo .inm{
    width: 280px;
    height: 26px;
    margin: 0 auto;
    margin-top:18px;
    background: url("../images/size2.svg") no-repeat center center;
}

.introduce .indtwo p{
    text-align: center;
    margin-top: 20px;
    line-height: 1.7;
    font-size: 14px;
    color: #999;
    margin-right: 20px;
}
/**/
.introduce .indthree{
    width: 300px;
    height: 283px;
    /*background-color: hotpink;*/
    float: left;
}
.introduce .indthree .int{
    width: 150px;
    height: 150px;
    margin:0 auto;
}
.introduce .indthree .inm{
    width: 280px;
    height: 26px;
    margin: 0 auto;
    margin-top:18px;
    background: url("../images/size3.svg") no-repeat center center;
}

.introduce .indthree p{
    text-align: center;
    margin-top: 20px;
    line-height: 1.7;
    font-size: 14px;
    color: #999;
    margin-right: 20px;
}
.introduce .indfour{
    width: 300px;
    height: 283px;
    /*background-color: greenyellow;*/
    float: left;
}
.introduce .indfour .int{
    width: 150px;
    height: 150px;
    margin:0 auto;
}
.introduce .indfour .inm{
    width: 280px;
    height: 26px;
    margin: 0 auto;
    margin-top:18px;
    background: url("../images/size4.svg") no-repeat center center;
}

.introduce .indfour p{
    text-align: center;
    margin-top: 20px;
    line-height: 1.7;
    font-size: 14px;
    color: #999;
}
/*结束介绍introduce*/
/*开始企业文化enterprise*/
.enterprise{
    position: relative;
    left: 2000px;
    margin-top: 65px;
    background-color: #6994ff;
    background-image: linear-gradient(285deg,#843ab0,#6994ff);
    width: 100%;
    height: 326px;
    padding-top: 65px;
    margin-bottom: 44px;
}
.enterprise .ui{
    width: 1180px;
    height: 220px;
    margin: 0 auto;
    text-align: center;
}
.enterprise .ui p{
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 5px;
    color: #FFFFFF;
}
.enterprise .ui span{
    display: block;
    color: #fff !important;
    font-size: 22px;
    font-weight: 400;
    width: 178px;
    height: 41px;
    line-height: 41px;
    border: 1px solid #D6D6D6;
    margin: 0 auto;
    border-radius:3px;
    cursor: pointer;
}
/*结束企业文化enterprise*/
/*开始设计师介绍*/
/*开始工共pub*/
.pub{
    margin-bottom: 27px;
    position: relative;
    right: 2000px;
}
.pub h2{
    float: left;
    font-size: 1.28rem;
    font-weight: 700;
    font-family: "微软雅黑";
    color: black;

}
.pub p{
    float: right;
}
.pub p a{
    font-size: 13px;
    color: #999;
    font-family: "SimSun", "宋体";
    font-weight: 700;
    line-height: 1.2857em;
    text-transform: none;
}
.pub p a i{
    font-family: "Icons";
    font-weight: 400;
    font-size: 12px
}
/*结束工共pub*/
/*设计师*/
.stylist{
    height: 211px;
    position: relative;
    right: 2000px;
    /*background-color: #fff;*/
}
/*开始左边*/
.stylist .stylistLeft{
    float: left;
    width: 580px;
    /*height: 211px;*/
    /*background-color: #fff;*/
    /*margin-right: 20px;*/
}
.stylist .stylistLeft a{
    display: block;
    /*width: 580px;*/
    /*height: 211px;*/
    /*background-color: #fff;*/
}
/*左边上面*/
.stylist .stylistLeft a .sLshang{
    height: 140px;
    width: 580px;
    background-color: #fff;
    margin-bottom: 1px;
}
.stylist .stylistLeft a .sLshang .sLshangLeft{
    width: 420px;
    height: 119px;
    padding-top: 21px;
    padding-left: 20px;
    float: left;
}
.stylist .stylistLeft a .sLshang .sLshangLeft h3{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
}
.stylist .stylistLeft a .sLshang .sLshangLeft .line{
    width: 40px;
    height: 2px;
    background-color: #DDDDDD;
    margin-bottom: 10px;
}
.stylist .stylistLeft a .sLshang .sLshangLeft .line .line1{
    width: 20px;
    height: 2px;
    background-color: #C0A75E;
}
.stylist .stylistLeft a .sLshang .sLshangLeft p{
    font-size: 16px;
    color: #999999;
    font-weight: 500;
}
.stylist .stylistLeft a .sLshang .sLshangLeft .stylistname{
    width: 67px;
    height: 26px;
    border: 1px solid #DDDDDD;
     margin-top: 10px;
    font-size: 12px;
    text-align: center;
    font-family: "微软雅黑";
    font-weight: 700;
    color: black;
}
.stylist .stylistLeft a .sLshang .sLshangRight{
    float: right;
}
/*左边下边*/
.stylist .stylistLeft a .slxia{
    height: 60px;
    width: 540px;
    background-color: #fff;
    padding: 16px 20px 0;
    /*padding-left: 20px;*/
    /*padding-bottom: 20px;*/
    line-height: 1.4285em;
}
.stylist .stylistLeft a .slxia p{
    font-size: 13px;
    color: #999999;
    font-family: helvetica neue,\5FAE软雅黑,arial,sans-serif;
}
/*开始右边*/
.stylist .stylistRight{
    float:right;
    /*width: 580px;*/
    /*height: 211px;*/
    /*background-color: #fff;*/
}

.stylist .stylistRight a{
    display: block;
    /*width: 580px;*/
    /*height: 211px;*/
    /*background-color: #fff;*/
}
/*左边上面*/
.stylist .stylistRight a .sLshang{
    height: 140px;
    width: 580px;
    background-color: #fff;
    margin-bottom: 1px;
}
.stylist .stylistRight a .sLshang .sLshangLeft{
    width: 420px;
    height: 119px;
    padding-top: 21px;
    padding-left: 20px;
    float: left;
}
.stylist .stylistRight a .sLshang .sLshangLeft h3{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
}
.stylist .stylistRight a .sLshang .sLshangLeft .line{
    width: 40px;
    height: 2px;
    background-color: #DDDDDD;
    margin-bottom: 10px;
}
.stylist .stylistRight a .sLshang .sLshangLeft .line .line1{
    width: 20px;
    height: 2px;
    background-color: #C0A75E;
}
.stylist .stylistRight a .sLshang .sLshangLeft p{
    font-size: 16px;
    color: #999999;
    font-weight: 500;
}
.stylist .stylistRight a .sLshang .sLshangLeft .stylistname{
    width: 67px;
    height: 26px;
    border: 1px solid #DDDDDD;
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
    font-family: "微软雅黑";
    font-weight: 700;
    color: black;
}
.stylist .stylistRight a .sLshang .sLshangRight{
    float: right;
}
/*左边下边*/
.stylist .stylistRight a .slxia{
    height: 60px;
    width: 540px;
    background-color: #fff;
    padding: 16px 20px 0;
    /*padding-left: 20px;*/
    /*padding-bottom: 20px;*/
    line-height: 1.4285em;
}
.stylist .stylistRight a .slxia p{
    font-size: 13px;
    color: #999999;
    font-family: helvetica neue,\5FAE软雅黑,arial,sans-serif;
}
/*结束设计师介绍*/
/*开始设计服务*/
/*开始公共的*/
.pub1{
    margin-bottom: 27px;
    margin-top: 20px;
    border-top: 1px solid #DDDDDD;
    padding-top: 16px;
}
.pub1 h2{
    float: left;
    font-size: 1.28rem;
    font-weight: 700;
    font-family: "微软雅黑";
    color: black;

}
.pub1 p{
    float: right;
}
.pub1 p a{
    font-size: 13px;
    color: #999;
    font-family: "SimSun", "宋体";
    font-weight: 700;
    line-height: 1.2857em;
    text-transform: none;
}
.pub1 p a i{
    font-family: "Icons";
    font-weight: 400;
    font-size: 12px
}
/*<!--开始设计服务的具体介绍-->*/
.serve{
    position: relative;
    opacity: 0;
    top: 500px;
}
.serve .serveOne{
     width: 280px;
     height: 447px;
     margin-right: 26px;
     background-color: white;
     float: left;
     margin-bottom: 24px;
    /*position: absolute;*/
    position: relative;
 }
.serve .serveOne .sOxia{
    border-top: 1px solid #E8E8E8;
    padding-top: 24px;
    text-align: center;
}
.serve .serveOne .sOxia h6{
    font-weight: 700;
    color: #222;
    font-size: 0.9em;
    padding-bottom: 15px;
}
.serve .serveOne .sOxia .line3{
    width: 60px;
    height: 1px;
    background-color: #DDDDDD;
    margin: 0 auto;
    margin-bottom: 12px;
}
.serve .serveOne .sOxia .price{
    color: #222;
    font-size: 18px;
    margin-bottom: 12px;
}
.serve .serveOne .sOxia .price i{
    font-size: 80%;
    color: #222;
}
.serve .serveOne .sOxia .jieshao{
    font-size: 80%;
}
.serve .serveTwo{
    width: 280px;
    height: 447px;
    /*margin-right: 20px;*/
    background-color: white;
    float: right;
    margin-bottom: 24px;
}
.serve .serveTwo .sOxia{
    border-top: 1px solid #E8E8E8;
    padding-top: 24px;
    text-align: center;
}
.serve .serveTwo .sOxia h6{
    font-weight: 700;
    color: #222;
    font-size: 0.9em;
    padding-bottom: 15px;
}
.serve .serveTwo .sOxia .line3{
    width: 60px;
    height: 1px;
    background-color: #DDDDDD;
    margin: 0 auto;
    margin-bottom: 12px;
}
.serve .serveTwo .sOxia .price{
    color: #222;
    font-size: 18px;
    margin-bottom: 12px;
}
.serve .serveTwo .sOxia .price i{
    font-size: 80%;
    color: #222;
}
/*浏览所有设计服务*/
.browse{
    width: 577px;
    height: 37px;
    border: 1px solid #DDDDDD;
    background-color: white;
    margin: 0 auto;
    line-height:37px;
    text-align: center;
    border-radius: 3px;
    color: black;
    font-weight: 500;
    font-family: "微软雅黑";
}
/*<!--结束设计服务的具体介绍-->*/
/*结束公共的*/
/*结束设计服务*/
/*开始尾部1*/
.foot1{
    margin-top: 34px;
    background-color: #fff;
    height: 230px;
    padding-top: 30px;
}
.foot1 h1{
    color: #777;
    font-size: 1.28em;
    font-family: Lato,Helvetica Neue,Arial,Helvetica,sans-serif;
    font-weight: 700;
    line-height: 1.2857em;
    margin-bottom: 30px;
}
.foot1 .dl{
    float: left;
    margin-right: 243px;
}
.foot1 dd a{
    line-height: 40px;
    color: #222;
    font-size: 14px;
}
/*结束尾部1*/
/*开始尾部2*/
.foot2{
    height: 270px;
    background-color: #333333;
    padding-top: 24px;
}
.foot2 dl{
    float: left;
    /*margin-right: 243px;*/
}
.foot2 h1{
    color: #777;
    font-size: 1.28em;
    font-family: Lato,Helvetica Neue,Arial,Helvetica,sans-serif;
    font-weight: 700;
    line-height: 1.2857em;
    margin-bottom: 30px;

}
.foot2 dt{
    margin-bottom: 26px;
    font-size: 14px;
    line-height: 1.4285em;
}
.foot2 dd a{
    line-height: 40px;
    color: #DDDDDD;
    font-size: 14px;
}
.foot2 .dl1{
    margin-right: 230px;
}
.foot2 .dl2{
    margin-right: 132px;
}
.foot2 .dl3{
    margin-right: 242px;
}
/*结束尾部2*/
/*开始尾部3*/
.foot3{
    background-color: #222222;
    height: 59px;
    line-height: 59px;
    font-size: 14px;
}
/*结束尾部3*/
#contact{
    background:url("../images/contart.png");
    width: 124px;
    height: 41px;
    position: fixed;
    z-index: 10;
    right: 43px;
    bottom:0px;
    border-radius: 2px;
}
#collect{
    background:url("../images/c8b8ed832907271233b189a68fe47c3c.svg") no-repeat center center;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top:-30px;
    z-index: 5;
    opacity: 0.5;
    background-color: gray;
    display: none;
}
#elevator {
    width: 40px;
    position: fixed;
    bottom: 50px;
    right: 10px;
}